
<div class="dashhead">
  <div class="dashhead-titles">
    <h3 class="dashhead-title">Returns Overview</h3>
  </div>
</div>

<div class="pull-right">
  <div class="btn-group">
    <%= button_to "New Return", new_return_path, class: "btn btn-primary-outline", method: :get %>
  </div>
</div>

<select class="custom-select custom-select-sm m-filter">
  <option>Filter By Manufacturer</option>
  <%= @manufacturers.each do |manufacturer| %>
    <option><%= manufacturer.name %></option>
  <% end %>
</select>

<select class="custom-select custom-select-sm b-filter">
  <option>Filter By Brand</option>
  <%= @brands.each do |brand| %>
    <option><%= brand.name %></option>
  <% end %>
</select>

<ul class="nav nav-bordered m-b-0 return-tabs" role="tablist">
  <li role="presentation">
    <a href="#all" role="tab" data-toggle="tab" aria-controls="all">All Returns</a>
  </li>
  <li class="active" role="presentation">
    <a href="#outstanding" role="tab" data-toggle="tab" aria-controls="outstanding">Outstanding Returns</a>
  </li>
  <li role="presentation">
    <a href="#filter" role="tab" data-toggle="tab" aria-controls="filter">Filtered Returns</a>
  </li>
</ul>

<hr class="m-t-0 m-b-0">

<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="all">
    <%= render 'table', returns: @returns %>
  </div>

  <div role="tabpanel" class="tab-pane active" id="outstanding">
    <%= render 'table', returns: @outstanding %>
  </div>

  <div role="tabpanel" class="tab-pane" id="filter">
  </div>
</div>

<div class="modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Return Info</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
