
<div class="dashhead">
  <div class="dashhead-titles">
    <h3 class="dashhead-title">Returns Overview</h3>
  </div>
  <div class="pull-right">
    <%= link_to raw("<span class='icon icon-circle-with-plus'></span> New Return"), new_return_path, class: "btn btn-primary-outline" %>
    <%= link_to 'Export PDF', returns_path(:format => :pdf), {target: "_blank", class: "btn btn-primary-outline"} %>
  </div>
</div>

<div class="pull-right">
  <%= link_to "Export to Excel", returns_path(format: "xls"), class: "btn btn-primary-outline" %>
</div>


<div class="pull-right">
  <%= link_to raw("<span class='icon icon-tools'></span> Manage Manufacturers & Brands"), manufacturers_path, class: "btn btn-primary-outline" %>
</div>

<select class="custom-select custom-select-sm m-filter">
  <option>Filter By Manufacturer</option>
  <%= @manufacturers.each do |manufacturer| %>
    <option><%= manufacturer.name %></option>
  <% end %>
</select>

<select class="custom-select custom-select-sm b-filter">
  <option>Filter By Brand</option>
  <%= @brands.each do |brand| %>
    <option><%= brand.name %></option>
  <% end %>
</select>


<ul class="nav nav-bordered m-b-0 return-tabs" role="tablist">
  <li role="presentation">
    <a href="#all" role="tab" data-toggle="tab" aria-controls="all">All Returns</a>
  </li>
  <li class="active" role="presentation">
    <a href="#pending" role="tab" data-toggle="tab" aria-controls="pending">Pending Returns</a>
  </li>
  <li role="presentation">
    <a href="#filter" role="tab" data-toggle="tab" aria-controls="filter">Filtered Returns</a>
  </li>
</ul>

<hr class="m-t-0 m-b-0">

<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="all">
    <%= render 'table', returns: @returns, table_class: 'all-table' %>
    <div id="all-pager" class="pager">
      <form>
        <span class="prev icon icon-controller-fast-backward"/></span>
        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
        <span class="next icon icon-controller-fast-forward"/></span>
      </form>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane active" id="pending">
    <%= render 'table', returns: @pending, table_class: 'pending-table' %>
    <div id="pending-pager" class="pager">
      <form>
        <span class="prev icon icon-controller-fast-backward"/></span>
        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
        <span class="next icon icon-controller-fast-forward"/></span>
      </form>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="filter">
  </div>
</div>

<%= render 'layouts/modal', layout: false %>
