<div class="brand-errors">
  <%= render 'layouts/errors', object: @brand %>
</div>

<div class="form-container text-center brand-form">
  <%= form_for @brand do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary-outline" %>
  <% end %>
</div>
