<%= render 'layouts/errors', object: @manufacturer %>

<div class="form-container text-center">
  <%= form_for @manufacturer do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary-outline" %>
  <% end %>
</div>

